.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

//css for Creativamind

.sidebar-sticky {
  padding: 0 !important;
}

.sidebar-nav-item {
  // font-family: Verdana, sans-serif !important;
  font-family: Raleway, sans-serif !important;
  font-weight: 100 !important;
}

// a.sidebar-title>h2.h1 {
//   font-size: 1em !important;
//   font-weight: 100 !important;
// }

.sidebar-about>a.sidebar-title::after {
  border-bottom: 0px !important;
}

img.avatar {
  width: 256px !important;
  height: auto !important;
}

.avatar {
  border-radius: 0 !important
}

h2.h1 {
  font-size: 24px;
  // font-family: Verdana, sans-serif;
  font-family: Raleway, sans-serif;
  font-weight:200;
  font-style: italic;
  padding-bottom: 30px !important;
  text-align: left !important;

  // font-family: Raleway, sans-serif !important;
  // font-weight: 100 !important;
}

h1.page-title {
  font-size: 32px;
  // font-family: Verdana, sans-serif;
  // font-family: Raleway, Verdana, sans-serif;
  font-weight:400 !important;
  padding-bottom: 5px !important;
}

.navbar>.content::before {
  box-shadow: none;
}

.navbar>.content {
  padding-top: 1.8em !important;
}

time {
  font-weight: 400 !important;
  color: #999 !important;
}

#breadcrumbs>ul {
  height: 1rem;
  margin: -1.5rem 0 .5rem;
  // padding: 0;
  font-size: .8rem;
  font-weight: bold;
  // color: var(--menu-text);
  // text-transform: uppercase;
  // width: 100%;
  // list-style: none;
}

span.ellipsis:nth-child(2) {
  padding-top: 5px !important; 
  font-size: 13px;
}

.page-title, .post-title {
  font-size: 1em !important;
}

// hr.dingbat::after {
//   content: "â–";
//   display: block;
//   text-align: center;
//   font-size: 1.5rem;
//   color: var(--menu-text);
// }

// .sidebar-about>a.sidebar-title::after {
//   border-bottom: 0px !important;
// }

// a#_drawer--opened, a.sidebar-nav-item {
//   font-family: Verdana;
//   font-size: 16px;
//   /* font-weight: 200; */
// }

// .sidebar-sticky {
//   opacity: 0 !important;
// }

// header #_sidebar.sidebar {
//   transform: translate(0px, 0px) !important;
// }

// .content { //hide breadcrumbs
//   padding: 5em 1em 10em;
// }

// .content { //decrease distance between nav-bar and content
//   padding: 10em 0em !important;
// }

// div.nav-btn-bar {
//   padding: 0px !important;
// }

img#_swipe {
  display: none;
}

.grab {
  cursor: pointer !important;
}

.content a:not(.btn):not(.no-hover) {
  text-decoration-color: #cccccc;
}

.content a:not(.btn):not(.no-hover):hover {
  text-decoration-color: #5A4F77;
}


@media (max-width: 480px) {
  .content .avatar {
    float: none !important;
    display: block !important;
    margin: 0 auto !important;
  }

  // h1.page-title {
    // font-size: 32px;
    // font-family: 'Montesserat', sans-serif !important;
    // font-weight:400 !important;
    // padding-bottom: 5px !important;
  // }

}


